@model SpareParts.Shared.Models.PartListResponse 
@using SpareParts.Shared.Constants
@{
    ViewBag.Title = "Part List Report";

    <head>
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <h1>@ViewBag.Title</h1>
        @if (Model.Items == null)
        {
            <p>No records.</p>
        }
        else
        {
            <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Weight (kg)</th>
                    <th>Price</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
            @foreach(var part in Model.Items)
            {
                <tr>
                    <td>@part.Name</td>
                    <td>@part.Description</td>
                    <td>@part.Category</td>
                    <td>@part.Weight.ToString(DefaultStringFormat.ForDecimal)</td>
                    <td>@part.Price.ToString(DefaultStringFormat.ForCurrency)</td>
                    <td>@part.StartDate.ToString(DefaultStringFormat.ForDate)</td>
                    <td>@part.EndDate?.ToString(DefaultStringFormat.ForDate)</td>
                </tr>
            }
            </tbody>
        </table>    
        }
    </body>
}
