@inherits InputText

<div class="form-group my-2">
    @if(DisplayName != null)
    {
        <label for="@Id">@DisplayName</label>
    }
    <input id="@Id" type="@_typeText" class="@CssClass form-control" @attributes="AdditionalAttributes"
       value="@BindConverter.FormatValue(CurrentValueAsString)"
       @oninput="EventCallback.Factory.CreateBinder<string>(this, value => CurrentValueAsString = value, CurrentValueAsString ?? string.Empty)" />
    <ValidationMessage For="@ValueExpression" />

</div>


@code {

    [Parameter, EditorRequired]
    public string? Id { get; set; }

    [Parameter]
    public bool IsPassword { get; set; }

    private string _typeText => IsPassword ? "password" : "text";
}
