@page "/part-list"
@attribute [Authorize(Roles = Role.Administrator)]

@using SpareParts.Shared.Models

@inject IState<PartsState> PartsState
@inject IDispatcher Dispatcher
@inject IPartService PartService
@inject IServiceWrapper ServiceWrapper
@inject NavigationManager NavManager

<h3>Part List</h3>

<div class="tool-container">
    <IconButton ButtonTitle="Report" ButtonClass="btn-outline-dark tool-button" Icon="IconButtonIcon.Print" IconClass="tool-button-image" OnClick="OpenReport" />
    <IconButton ButtonTitle="Add Part" ButtonClass="btn-outline-dark tool-button" Icon="IconButtonIcon.Plus" IconClass="tool-button-image" OnClick="AddPart" />
</div>

@if(_parts != null && _parts.Any())
{
    <table id="partTable" class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Weight (kg)</th>
                <th>Price</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach(var part in _parts)
        {
            <tr>
                <td>@part.Name</td>
                <td>@part.Description</td>
                <td>@part.Weight.ToString("F2")</td>
                <td>@part.Price.ToString("C2")</td>
                <td>@part.StartDate.ToString("dd/MM/yyyy")</td>
                <td>@part.EndDate?.ToString("dd/MM/yyyy")</td>
                <td><button class="btn btn-link" @onclick="() => EditPart(part.ID)">Edit</button></td>
                <td><button class="btn btn-link" @onclick="() => DeletePart(part.ID)">Delete</button></td>
            </tr>
        }
        </tbody>
    </table>   
    <Pager TotalItemCount="_totalItemCount" PageSize="PageSize" CurrentPage="PartsState.Value.PartsPage" OnPageChanged="HandlePageChanged"/>
}

@if(_hasError)
{
    <div class="alert alert-danger py-1">
        @_errorMessage
    </div>
}
@if (_hasDeleted)
{
    <div class="alert alert-success py-1">
        Success
    </div>
}

@if(PartsState.Value.IsDetailModeVisible)
{
    <Modal ShowModal="@PartsState.Value.IsDetailModeVisible" ModalClass="modal-lg" OnClose="OnCloseDetailModal">
        <PartDetail PartID="@PartsState.Value.SelectedPartId" OnValidSubmit="RefreshPartsList" />
    </Modal>
}

@code {
    private bool _hasDeleted;
    private bool _hasError;
    private string? _errorMessage;
    private List<Part>? _parts;

    private int _totalItemCount;
    private const int PageSize = 10;

    protected override async Task OnInitializedAsync()
    {
        _hasDeleted = false;
        _hasError = false;
        _errorMessage = "";

        await RefreshPartsList();
    }

    private async Task RefreshPartsList()
    {        
        var skip = (PartsState.Value.PartsPage - 1) * PageSize;

        var partListResponse = await ServiceWrapper.ServiceCall(() => PartService.Index(false, skip, PageSize), "An error occurred retrieving part");
        if(partListResponse == null)
        {
            _hasError = true;
        }
        else
        {
            if (partListResponse.HasError)
            {
                _hasError = true;
                _errorMessage = partListResponse.Message;
            }

            _parts = partListResponse.Items;
            _totalItemCount = partListResponse.TotalItemCount;
        }
    }

    private async Task HandlePageChanged(int page)
    {
        Dispatcher.Dispatch(new SetPartsPageAction(page));
        await RefreshPartsList();
    }

    private void AddPart()
    {
        Dispatcher.Dispatch(new SetSelectedPartIdAction(null));
        Dispatcher.Dispatch(new SetPartsDetailVisibilityAction(true));
    }

    private void EditPart(int partID)
    {
        Dispatcher.Dispatch(new SetSelectedPartIdAction(partID));
        Dispatcher.Dispatch(new SetPartsDetailVisibilityAction(true));
    }

    private async Task DeletePart(int partID)
    {
        _hasDeleted = false;
        _hasError = false;
        _errorMessage = "";

        var partResponse = await ServiceWrapper.ServiceCall(() => PartService.Delete(partID), "An error occurred deleting part.");

        if(partResponse != null && partResponse.HasError)
        {
            _hasError = true;
            _errorMessage = partResponse.Message;
        }
        else
        {
            _hasDeleted = true;
        }

        await RefreshPartsList();
    }

    private void OnCloseDetailModal()
    {
        Dispatcher.Dispatch(new SetPartsDetailVisibilityAction(false));
    }

    private void OpenReport()
    {
        NavManager.NavigateTo($"/report/{ReportID.Parts}");
    }
}
