@page "/part-search"
@attribute [Authorize(Roles = Role.Administrator)]

@using SpareParts.Shared.Models

@inject IServiceWrapper ServiceWrapper
@inject IPartService PartService

<h3>Part Search</h3>
<EditForm Model="_filterLine" OnSubmit="Search">
    <FilterSelector FieldNames="_fieldNames" Operators="_operators" @bind-SelectedField="@_filterLine.SelectedField" @bind-SelectedOperator="@_filterLine.SelectedOperator" @bind-Value="@_filterLine.Value" />
    <button type="submit" class="btn btn-primary my-1">Search</button>
</EditForm>

@if (_parts != null && _parts.Any())
{
    <table id="partTable" class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Weight (kg)</th>
                <th>Price</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var part in _parts)
            {
                <tr>
                    <td>@part.Name</td>
                    <td>@part.Description</td>
                    <td>@part.Weight.ToString("F2")</td>
                    <td>@part.Price.ToString("C2")</td>
                    <td>@part.StartDate.ToString("dd/MM/yyyy")</td>
                    <td>@part.EndDate?.ToString("dd/MM/yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (_hasError)
{
    <div class="alert alert-danger py-1">
        @_errorMessage
    </div>
}


@code {
    private bool _hasDeleted;
    private bool _hasError;
    private string? _errorMessage;
    private List<Part>? _parts;

    private List<String>? _fieldNames;
    private List<String>? _operators;
    private FilterLine? _filterLine;

    private int _totalItemCount;
    private const int PageSize = 10;

    protected override async Task OnInitializedAsync()
    {
        _hasDeleted = false;
        _hasError = false;
        _errorMessage = "";

        _fieldNames = GetFieldNames();
        _operators = new List<string> { "eq", "neq", "contains", "gt", "gte", "lt", "lte", "startsWith", "endsWith" };
        _filterLine = new FilterLine
        {
                SelectedField = "",
                SelectedOperator = "gt",
                Value = ""
        };

        //await RefreshPartsList();
        _parts = new List<Part>();
    }

    private async Task Search(EditContext context)
    {
        await RefreshPartsList();
    }

    private async Task RefreshPartsList()
    {
        _parts = new List<Part>();

        var filter = $"{{{_filterLine.SelectedField.ToLower()}: {{{_filterLine.SelectedOperator}: {_filterLine.Value}}}}}";

        var partRequest = new GraphQLRequest
        {
            query = $@"{{
                parts (where: { filter }) {{
                    name
                    description
                    weight
                    price
                    startDate
                    endDate
                }}
            }}"
        };


        var partResponse = await ServiceWrapper.ServiceCall(() => PartService.Search(partRequest), "An error occurred searching for part.");

        if(partResponse.Data != null && partResponse.Data.Parts != null)
        {
            _parts = partResponse.Data.Parts;
        }

    }

    public class MyGraphQLResponse
    {
        public MyGraphQLData? Data { get; set; }
    }

    public class MyGraphQLData
    {
        public List<Part>? Parts { get; set; }
    }

    private List<string> GetFieldNames()
    {
        var props = typeof(Part).GetProperties();
        return props.Select(p => p.Name).ToList();
    }

    public class FilterLine
    {
        public string? SelectedField { get; set; }
        public string? SelectedOperator { get; set; }
        public string? Value { get; set; }
    }
}
